.subreddit-content {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
}

.subreddit-content .image-container {
    display: flex;
    flex: 1;
}

.subreddit-content .image-container img {
  height: 100%;
  width: 100%;
}

.subreddit-content .actions-container {
    display: flex;
    justify-content: space-between;
}
