.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}